{{ define "main" }}
<main class="content">
    <div class="wrapper content__wrapper">
        <div class="contact-form">
            <div>
                <h1 class="contact-form__heading">{{ .Title }}</h1>
                <p>{{ .Content | plainify }}</p>
            </div>
            <form class="contact-form__form">
                <label for="name" class="visually-hidden">Имя</label>
                <input type="text" placeholder="Имя" name="name" id="name">

                <div class="contact-form__columns">
                    <label for="email" class="visually-hidden">E-mail</label>
                    <input type="text" placeholder="E-mail" name="email" id="email">

                    <label for="phone" class="visually-hidden">Телефон</label>
                    <input type="text" placeholder="Телефон" name="phone" id="phone">
                </div>

                <label for="message" class="visually-hidden">Сообщение</label>
                <textarea placeholder="Сообщение" name="message" id="message"></textarea>

                <label class="checkbox">Я согласен с <a href="/agreement">политикой обработки данных</a>
                    <input type="checkbox" class="checkbox__input" name="agreed">
                    <span class="checkbox__mark"></span>
                </label>
                <button type="submit" class="contact-form__submit">Отправить</button>
            </form>
        </div>
    </div>
</main>

<script src="/js/form.js"></script>
{{ end }}