<p>
    <!-- Показывает услуги участника команды -->

    Услуги:&nbsp;
    {{- range $index, $taxonomy := .Page.Params.services -}}
    {{- with $.Site.GetPage "taxonomy" (printf "services/%s" $taxonomy) -}}
    {{- if gt $index 0 }}, {{ end -}}
    <a href="/services#{{ $taxonomy }}">{{ .Title }}</a>
    {{- end -}}
    {{- end -}}.

    <br>

    <!-- Показывает события, в которых участвовал человек -->

    Хакатоны с PPnP:&nbsp;
    {{- $member := .Page.Data.Term -}}
    {{- range $index, $page := (where .Site.Pages "Section" "events") }}
    {{- if in .Params.members $member -}}
    {{- if gt $index 0 }}, {{ end -}}
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{- end -}}
    {{- end -}}.
</p>