{{ if .Params.photo }}
{{ $image := .Resources.GetMatch (.Params.photo) }}
{{ if $image }}
<article class="list-entry" id="{{ anchorize .Data.Term }}">
    <img class="list-entry__photo list-entry__photo_round" src="{{ ($image.Resize "600x").RelPermalink }}"
        alt="{{ .Params.name }}">
    <div class="list-entry__info">
        <h3 class="list-entry__name">{{ .Params.name }}</h3>
        <p class="list-entry__keyinfo">
            {{ .Params.role }}
        </p>
        <div>{{ .Content }}</div>
    </div>
</article>
{{ end }}
{{ end }}