<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="yandex-verification" content="ca9a11062897f86a" />
	<link rel="canonical" href={{ .Permalink }} />

	{{ $description := .Description }}
	{{ if .IsHome }}
	{{ $description = .Site.Params.indexText }}
	{{ else if or (eq .Kind "section") (eq .Kind "taxonomyTerm") (eq .Type "contact") }}
	{{ $description = .Content }}
	{{ end }}
	{{ if and $description (lt (countrunes $description) 150) }}
	<meta name="description" content="{{ $description }}" />
	<meta property="og:description" content="{{ $description }}" />
	<meta name="twitter:description" content="{{ $description }}" />
	{{ end }}

	<meta name="robots" content="index,follow" />
	<meta name="googlebot" content="index,follow" />

	<meta property="og:url" content={{ .Permalink }} />
	<meta property="og:site_name" content="{{ .Site.Title }}" />

	{{ if isset .Params "date" }}
	<meta property="article:published_time" content="{{ time .Date }}" />
	{{ end }}

	{{ $title := .Site.Title }}
	{{ if (not .IsHome) }}
	{{ $title = (printf "%s | %s" .Title .Site.Title) }}
	{{ end }}
	<title>{{ $title }}</title>
	<meta name="twitter:title" content="{{ $title }}" />
	<meta property="og:title" content="{{ $title }}" />

	<meta property="og:locale" content="ru_RU" />
	<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />

	{{ $og_image := "/images/background.png" }}
	{{ if .Params.featured_image }}
	{{ $image := .Resources.GetMatch (.Params.featured_image) }}
	{{ if $image }}
	{{ $og_image = $image.RelPermalink }}
	{{ end }}
	{{ end }}
	<meta property="og:image" content="{{ $og_image }}" />
	<meta name="twitter:image" content="{{ $og_image }}" />

	<meta name="twitter:card" content="summary">

	<link rel="stylesheet" href="{{ "css/reset.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2f80ed">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#2b5797">
</head>

<body class="{{ .Type }} {{ .Kind }} {{ .Section }}">
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}

	<noscript>
		<link rel="stylesheet" href="{{ "css/noscript.css" | relURL }}">
	</noscript>
</body>

</html>
