{{ define "main" }}
<section class="introduction hero wrapper">
  <h1 class="introduction__heading">{{ .Site.Params.indexText }}</h1>
  <h4>
    <a class="introduction__about-us" href="/members/" title="О нас">
      Совсем немного о нас
      <svg class="introduction__arrow">
        <use xlink:href="/images/icons.svg#arrow-right"></use>
      </svg>
    </a>
  </h4>
</section>

<main class="home__events-list events-list">
  {{ range where .Site.Pages "Section" "events" }}
  {{ if .Params.featured_image }}
  {{ .Render "summary" }}
  {{ end }}
  {{ end }}
</main>

<script type="application/ld+json">
{ 
  "@context": "http://schema.org", 
  "@type": "Organization", 
  "url": {{ .Site.Home.Permalink }}, 
  "name": "{{ .Site.Title }}", 
  "logo": {{ "/images/logo.png" | absURL }}
}
</script>
{{ end }}