{{ if not .IsHome }}
<footer class="footer wrapper">
    <a href="/">
        <object type="image/svg+xml" data='/images/logo.svg' class="header__logo" aria-hidden="true"></object>
    </a>
    <div class="footer__links">
        <a href="mailto:{{ .Site.Params.email }}" class="footer__link">
            <svg class="footer__icon" aria-hidden="true">
                <use xlink:href="/images/icons.svg#email"></use>
            </svg>
            <span class="visually-hidden">Email address</span>
        </a>
        <a href="tel:{{ replaceRE "\\D" "" .Site.Params.phone }}" class="footer__link">
            <svg class="footer__icon" aria-hidden="true">
                <use xlink:href="/images/icons.svg#phone"></use>
            </svg>
            <span class="visually-hidden">Phone number</span>
        </a>
    </div>
</footer>
{{ end }}

<script src="/js/show_menu.js"></script>
<script src="/js/anchors.js"></script>
<script src="/js/smooth_scroll_pf.min.js"></script>

{{ if not .Site.IsServer }}
<script>
    (function (e, t, n, i, s, a, c) {
        e[n] = e[n] || function () { (e[n].q = e[n].q || []).push(arguments) }
            ; a = t.createElement(i); c = t.getElementsByTagName(i)[0]; a.async = true; a.src = s
            ; c.parentNode.insertBefore(a, c)
    })(window, document, "galite", "script", "https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js");

    galite('create', 'UA-162764390-1', 'auto');
    galite('send', 'pageview');
</script>
{{ end }}