<header class="header">
	<div class="header__background"></div>
	<div class="wrapper header__wrapper">
		{{ if not .IsHome }} <a href="/"> {{ end }}
			<object type="image/svg+xml" data='/images/logo.svg' class="header__logo"></object>
			{{ if not .IsHome }} </a> {{ end }}

		<button class="hamburger" type="button">
			<span class="visually-hidden">Меню</span>
			<span class="hamburger__inner"></span>
		</button>
	</div>
	<div class="wrapper top-menu">
		<div class="top-menu__column">
			{{ $currentPage := . }}
			{{ range .Site.Menus.main }}
			<h2>
				<a class="top-menu__link" href="{{ .URL }}" title="{{ .Title }}">
					{{ .Name }}
				</a>
			</h2>
			{{ end }}
		</div>
		<div class="top-menu__contacts">
			<h4 class="top-menu__column-header">Контакты</h4>
			<div class="top-menu__column">
				<p>
					<svg class="top-menu__icon">
						<use xlink:href="/images/icons.svg#email"></use>
					</svg>
					<a href="mailto:{{ .Site.Params.email }}" class="top-menu__link top-menu__link_contact">
						{{ .Site.Params.email }}
					</a>
				</p>
				<p>
					<svg class="top-menu__icon">
						<use xlink:href="/images/icons.svg#phone"></use>
					</svg>
					<a href="tel:{{ replaceRE "\\D" "" .Site.Params.phone }}"
						class="top-menu__link top-menu__link_contact">
						{{ .Site.Params.phone }}
					</a>
				</p>
			</div>
		</div>
	</div>
</header>