{{ define "main" }}
<section class="wrapper hero events__hero">
    {{ if .Params.featured_image }}
    {{ $image := .Resources.GetMatch (.Params.featured_image) }}
    {{ if $image }}
    <img src="{{ ($image.Resize "1000x").RelPermalink }}" alt="{{ .Title }} photo">
    {{ end }}
    {{ end }}
    <div>
        <p>{{ .Date.Format .Site.Params.dateFormat }}</p>
        <h1 class="hero__title">{{ .Title }}</h1>
        <p>{{ .Params.description }}</p>
        <br>
        {{ if .Params.members }}
        <strong>Участники:</strong>
        <ul>
            {{- range $index, $taxonomy := .Page.Params.members -}}
            {{- with $.Site.GetPage (printf "members/%s" $taxonomy.slug) -}}
            {{- $role := .Params.role -}}
            {{- if $taxonomy.role -}}
            {{- $role = $taxonomy.role -}}
            {{- end -}}
            <li>
                <a href="/members#{{ $taxonomy }}" class="contrast-link" title="{{ .Params.name }}">{{ .Params.Name }}
                    ({{ $role }})</a>
            </li>
            {{- end -}}
            {{- end -}}
        </ul>
        {{ end }}
    </div>
</section>

<main class="content">
    <div class="wrapper content__wrapper">
        {{ .Content }}
    </div>
</main>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "headline": {{ .Title }},
    "datePublished": "{{ .Date.Format "2006-01-02" }}",
    "description": {{ .Description }},
    "wordCount": {{ .WordCount }},
    "mainEntityOfPage": "True",
    "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",

    {{ if .Params.featured_image }}
    {{ $image := .Resources.GetMatch (.Params.featured_image) }}
    {{ if $image }}
    "image": {
        "@type": "imageObject",
        "url": {{ $image.RelPermalink }}
    },
    {{ end }}
    {{ end }}

    "author": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "logo": {
            "@type": "imageObject",
            "url": {{ "/images/logo.png" | relURL }}
        }
    },
    "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "logo": {
            "@type": "imageObject",
            "url": {{ "/images/logo.png" | relURL }}
        }
    }
}
</script>
{{ end }}